/*--------
   RESET
--------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/*--------
   HEADER
--------*/

header{
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 50px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}


/*--------
   BODY
--------*/

.container{
    max-width: 900px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 4px;
}

.container-button{
    padding: 15px 50px;
}

.button{
    border: 0;
    padding: 0;
    background: none;
}

.button-task{
    color: white;
    background-color: #45ABEA;
    padding: 10px 8px;
    border-radius: 10px;
}

.button-section{
    color: lightgray;
    border: solid 1px lightgray;
    padding: 9px 12px;
    border-radius: 10px;

}

.container-main{
    padding: 40px 50px;

}

.options{
    margin-top: 10px;
}

.circle{
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    text-align: center;
}

.circle-check{
    color: green;
    border-color: green;
}

.circle-cross{
    color: red;
    border-color: red;
}

.tag{
    color: white;
    padding: 4px 8px;
    border-radius: 14px;
}

.tag-cyan{
       background-color: #45ABEA;
}
